cmake-build-debug/
bin/
tests/.idea/
tests/__pycache__/
tests/venv/
.idea/.name
.idea/assignment3-server.iml
.idea/assignment3-spl-server.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/assignment3-spl-client.iml
CMakeFiles/TargetDirectories.txt
CMakeFiles/progress.marks
CMakeFiles/Makefile2
CMakeFiles/Makefile.cmake
CMakeFiles/CMakeOutput.log
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/cmake.check_cache
CMakeFiles/assignment3-spl-client.dir/src/SessionData.cpp.o
CMakeFiles/assignment3-spl-client.dir/src/ServerToClientMessage.cpp.o
CMakeFiles/assignment3-spl-client.dir/src/EchoClient.cpp.o
CMakeFiles/assignment3-spl-client.dir/src/ConnectionHandler.cpp.o
CMakeFiles/assignment3-spl-client.dir/src/ClientToServerMessage.cpp.o
CMakeFiles/assignment3-spl-client.dir/src/Caster.cpp.o
CMakeFiles/assignment3-spl-client.dir/progress.make
CMakeFiles/assignment3-spl-client.dir/link.txt
CMakeFiles/assignment3-spl-client.dir/flags.make
CMakeFiles/assignment3-spl-client.dir/DependInfo.cmake
CMakeFiles/assignment3-spl-client.dir/depend.make
CMakeFiles/assignment3-spl-client.dir/depend.internal
CMakeFiles/assignment3-spl-client.dir/CXX.includecache
CMakeFiles/assignment3-spl-client.dir/cmake_clean.cmake
CMakeFiles/assignment3-spl-client.dir/build.make
CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.16.3/CompilerIdCXX/a.out
CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.16.3/CompilerIdC/a.out
CMakeFiles/3.16.3/CMakeSystem.cmake
CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
CMakeFiles/3.16.3/CMakeCCompiler.cmake
assignment3-spl-client
cmake_install.cmake
CMakeCache.txt
.idea/deployment.xml
